@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.logo {
  display: block;
  margin: auto;
  width: 70px;
}

span.border-middle {
  width: 100px;
  background: #2a5673;
  padding: 2px;
  display: block;
  border-radius: 30px;
  margin: 70px auto;
}
